.map-container {
  margin: 24px 0 0 0;
}
.roadmap-label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  &:not(:last-of-type) {
    margin: 0 0 4px 0;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__oval {
    width: 8px;
    height: 8px;
    border-radius: $radius-full;
    margin: 0 16px 0 0;
    flex-shrink: 0;

    &--live {
      background-color: $blue-lighter;
    }

    &--planned {
      background-color: $orange;
    }

    &--in-progress {
      background-color: $purple;
    }
  }

  &__quantity {
    font-weight: 700;
  }

  &__text,
  &__quantity {
    text-transform: capitalize;
    color: $grey-lightest;
  }
}
