.form {
  &__title {
    font-size: $text-xxl;
    margin: 0 0 40px 0;
    font-weight: bold;
  }

  &__buttons {
    margin: 32px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      &:not(:last-of-type) {
        margin: 0 16px 0 0;
      }
    }
  }
}
