$purple: #ad1fea;
$orange: #f49f85;
$white: #ffff;
$cream: #f7f8fd;
$light: #f2f4ff;
$light-lighter: #131415;
$grey: #373f68;
$grey-lighter: #3a4374;
$grey-lightest: #647196;
$blue: #4661e6;
$blue-lighter: #62bcfa;
$blue-lightest: #cfd7ff;
$red: #d73737;
$black: #0000;
$gradient: radial-gradient(
  128.88% 128.88% at 103.9% -10.39%,
  #e84d70 0%,
  #a337f6 53.09%,
  #28a7ed 100%
);
