h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bold;
}

h2,
h3 {
  letter-spacing: -0.25px;
}

h1 {
  font-size: $text-xxl;
  line-height: 35px;
  letter-spacing: -0.33px;
}

h2 {
  font-size: $text-xl;
  line-height: 29px;
}

h3 {
  $font-size: $text-m;
  line-height: 26px;
}

h4 {
  font-size: $text-s;
  line-height: 20px;
  letter-spacing: -0.2px;
}

p {
  color: $grey-lighter;
  line-height: 23px;
  font-weight: 400;
}
