.card {
  border-radius: $radius-s;
  background-color: $white;
  position: relative;
  padding: 32px;

  &--purple {
    &:before {
      background-color: $purple;
    }
  }

  &--orange {
    &:before {
      background-color: $orange;
    }
  }
  &--blue {
    &:before {
      background-color: $blue;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-top-left-radius: $radius-s;
    border-top-right-radius: $radius-s;
    height: 6px;
    width: 100%;
  }
}
