.field {
  width: 100%;
  // position: relative;
  // z-index: 1;

  &:not(:last-of-type) {
    margin: 0 0 24px 0;
  }

  &__info {
    margin: 0 0 16px 0;
    &__title,
    &__description {
      font-size: $text-s;
    }
    &__title {
      font-weight: bold;
    }
  }

  .input,
  .textarea {
    background-color: $cream;
    width: 100%;

    border-radius: $radius-s;
    padding: 12px 16px;
    border: 1px solid transparent;
    transition: 0.4s all ease;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid $blue;
      outline: none;
    }

    &__error {
      border: 1px solid $red;

      &__message {
        color: $red;
        font-size: 12px;
        padding: 4px 0;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }

  .input {
    min-height: 48px;
  }
  .textarea {
    min-height: 96px;
  }
}
